{{> navs/index}}

<div class="jumbotron text-center">
    <div class="background-image">
        <div class="caption">
            <h1>{{this.title}}</h1>
            <p>{{this.subtitle}}</p>
        </div>
    </div>

</div>


<div id="articles">
    {{#each articles}}
    <div class="well">
        <div class="row">
            <div class="col col-md-2">
                <img src="{{this.imageURL}}" alt="image"> 
            </div>
            <div class="col col-md-8">
                <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                <h6>{{this.summary}}</h6>
            </div>
            <div class="col col-md-1">
                <form class="form-inline" action="/api/articles/save/{{this.id}}" method="POST">
                    <button type="submit" class="btn btn-success">Save Article</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>